{% extends "statistic/layout/base.html" %}

    {% block content %}

    {% load staticfiles %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/upprofile.css' %}">
    
    <h1>Profile</h1>
    <style type="text/css">
        .image{
            border-radius: 50%;
            width: 200px;
            height: 200px;
            margin-left: 40%;
        }
    </style>
    <img class = "image" src= "http://i0.kym-cdn.com/photos/images/original/000/437/036/b64.png">
    <center><h1>KELOMPOK 2</h1></center>
    <br></br>
        <table align="center">
        {% for i in content %}
            <tr>
                <td class="subject" style="text-align: left; padding-left: 10px; padding-right:20px; padding-bottom: 20px">{{i.subject}}</td>
                <td class="value" style="text-align: left; padding-left: 10px; padding-right:20px; padding-bottom: 20px">{{ i.value }}</td>
            </tr>
        {% endfor %}
        </table>
        <br></br>
    
    {% endblock %}
