body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.subject {
	text-align: left;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.value {
	text-align: left;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 10px;

}
/*Textarea not resizeable*/
textarea {
    resize:none
}