<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="">Aji Wuryanto - Arkthusk</a> -->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="/ustatus"> Status </a></li>
        <li><a href="/upprofile"> Profile </a></li>
        <li><a href="{% url 'add-friend:index' %}#form"> Friends </a></li>
        <li><a href="{% url 'statistic:statistic_count' %}#form"> Stats </a></li>


      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
