
.flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.flex-item{
  background-color: white;
  border-style: solid;
  border-color: grey;
  margin:2%;
  padding:  15px;
  min-width: 100%;
}
