{% extends "statistic/layout/base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}
<div class="container" style="background-color: light-blue;;border-color:grey">
<div><center>
  <h1>UPDATE STATUS</h1><br>
  <form id="form" method="POST" action="/submit/">
      {% csrf_token %}
      {{ form_status }}
      <input id="submit" type="submit" class="btn btn-sm btn-default " style="" value="Post">
      <br>
  </form>
</center>
</div>

<div style="margin-left:10%;margin-right:10%">
  <div class="flex">

    {% if status %}
      {% for data in status reversed%}
      <div class="flex-item">
        <a href="/upprofile/"><img height="50" weight="5  0" class="img-circle" src = "http://i0.kym-cdn.com/photos/images/original/000/437/036/b64.png"></a>
        <a href="/upprofile/"><div><h4>{{ nama }}</h4></div></a>
        {{data.text}} <br> on {{data.created_date}}
      </div>

      {% endfor %}
    {% endif %}
  </div>

</div>
</div>
</div>

{% endblock %}
