
    {% extends "statistic/layout/base.html" %}
    {% load staticfiles %}
    {% load static %}
    
    
    {% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/statistic.css' %}">
    
    <h1 style = "font-family: 'Crete Round', serif; margin-left:60px; margin-bottom:30px"> Statistic </h1>
    <style type="text/css">
        
    </style>
    <div class = 'flex-container'>
        <div class = 'row'>
            <div class = 'column' style = 'align :left'>

               <img width = '200' height = '200' src= "http://i0.kym-cdn.com/photos/images/original/000/437/036/b64.png" style = "border-left:0px; float: middle;margin-left: 40%">
             </div>

            <div class = 'column'>
                <h1 style = "font-family: 'Sigmar One', cursive; float: middle; margin-top: 25%">KELOMPOK 2</h1>
            </div>
        </div>
        <div class = 'row'>
            <h1 style = "font-family: 'Sigmar One';margin-left: 13%">~~~~~~~~~~~~~~~~~~~~~~~</h1>
        </div>
        <div class = 'row'>
            <div class = 'column'>
                <p style = "font-family: 'Aclonica', sans-serif; margin-left:50%;margin-top:15%"><b> FRIENDS </b></p>
                <p style = "margin-left:55% ;font-size: 30px"> {{ count_friend }} </p>
            </div>
            <div class = 'column'>
                <p style = "font-family: 'Aclonica', sans-serif; margin-left:50%;margin-top:15%"><b> FEED </b></p>
                <p style = "margin-left:53% ;font-size: 30px"> {{ count_post }} </p>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'column'>
                <p style = "font-family: 'Ultra', serif; margin-top:15%; margin-left:51%;margin bottom:10%" ;><b> LATEST POST </b></p>
            </div>
            <div class = 'row'>
                <p style = "font-family: 'Racing Sans One', cursive; margin-top:3.6%;margin-left:23% ;font-size: 30px;margin bottom:10%"> {{ last_post }} </p>
            </div>
        </div>
    <br></br>
    </div>
    {% endblock %}
