 cbody {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.subject {
	text-align: left;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.value {
	text-align: left;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 10px;

}
/*Textarea not resizeable*/
textarea {
    resize: none
}

.column{
	float: left;
	width: 33.33%;
	padding: 0px;
}

.row : after{
	content: "";
	display: table;
	clear: both;

}

@media (max-width : 600px){
	.column{
		width: 100%;
	}

.flex-container{
	position: absolute;
	margin-left: 20%; 
}
}

.flex-container{
	position: relative;
	margin-left: 20%;
}

/* Custom navbar style */
.navbar {
  margin-bottom: 0px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

.navbar-default{
  background-color:#283e4a;
  font-family: Source Sans Pro, Open Sans, Helvetica;
  font-weight: bold;
}

.navbar-default .navbar-brand{
  color:#c7d1d8;

}

.navbar-default .navbar-nav>li>a{
  color: #c7d1d8;

}

.navbar-default .navbar-nav>li> .active > a{
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
}
/* HEADER - finish */

body, html{
 margin: 0; 
 width: 100%;
 height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer p{
  text-align: center;
  padding-top: 10px;
}
