{% extends "layout/base.html" %}
{% block content %}

<section name="form">
    <h2>Add Friend</h2>
    <form id="form" method="POST" action="{% url 'add-friend:add_message' %}">
        <label for="id_name"    >Nama: </label>
        <input id="id_name" class="form-control" name="name" placeholder="Joseph" type="text">
        <label for="id_email">Link: </label>
        <input id="id_email" class="form-control" name="link" placeholder="joseph.herokuapp.com" type="link">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Add Friend</button>
    </form>
</section>
</font>

<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">Friend List</h2>
        <div class="flex">
        <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
        {% for i in message %}
        {% if i.name == 'Anonymous' or i.link == 'Anonymous' %}
        <tr class="warning"> {% else %} <tr class="success">
            {% endif %}
            <div class="flex-item">
                        <div class="to-do-list">
                            <div class="to-do-list-title">
                                {{i.name}}
                            </div>
                            <div class="to-do-list-date-added">
                                {{i.created_date.date}} {{i.created_date.time}}
                            </div>
                            <div class="to-do-list-description">
                                <a href="http://{{i.link}}/" > {{i.link}} </a>
                            </div>
                        </div>
            </div>
        </tr>             
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

