body{
  margin-top: 70px;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/* Textarea not resizeable */
textarea {
    resize:none
}
section{
  min-height: 600px;
}

/* styling footer */
footer p{
  text-align: center;
  padding-top: 10px;
}

#my-list{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
#my-list .my-list-title{
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.to-do-list{
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  border-radius: 5px 5px 20px 20px;
  margin-bottom: 60px;
  top: 0px;

  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;

  transition-timing-function: cubic-bezier(.17,.02,.2,.99);
  -webkit-transition-timing-function: cubic-bezier(.17,.02,.2,.99);
}

.to-do-list:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}

.to-do-list .to-do-list-title {
  background: #dff;
  border-radius: 5px 5px 0px 0px;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
}
.to-do-list .to-do-list-date-added {
  background: #bde;
  font-size: 12px;
  padding: 5px 10px;
}
.to-do-list .to-do-list-description {
  padding: 10px 25px;
  border-radius: 0px 0px 0px 00px;
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: justify;
  overflow: auto;
}
.to-do-list .to-do-list-delete {
  background: #e45;
  color: #fff;
  padding: 0px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  bottom:1px;
  position: absolute;
  right: 0px;
  left: 0px;
  cursor: pointer;
  z-index: -1;
  border: 0 none;

  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0);

  border-radius: 0px 0px 30px 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.to-do-list .to-do-list-delete {
  bottom: -50px;
}

/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
  .flex {
    
    display = flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    margin-right: 0px;
    margin-left: 0px;
  }
  .flex-item {
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) {
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: -15px;
    margin-left: -15px;
  }

  .flex-item {
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;

  }